<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
     <link rel="stylesheet" href="/style.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/application.js"></script>
</head>
<body>

<!-- header starts
================================================== -->
<section id="header" class="clearfix">
  <div class="container">
    <div class="row"> 
<!--logo starts-->
  <div class="span4 logo"><a href="#"><img src="images/logo2.png" width="148" height="41" alt="logo"></a></div>
<!--logo ends-->
  <div class="span8 clearfix"> 
    <!--menu starts-->
    <div id="smoothmenu" class="ddsmoothmenu">
          <ul>
            <li><a href="/new_player">Start Over</a></li>
          </ul>
        </div>
        <!--menu ends--> 
        
      </div>
    </div>
  </div>
</section>
<!-- header ends
================================================== --> 

<!-- content starts
================================================== -->
<section id="content" class="clearfix"> 
  
  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><h2><%=@error%></h2></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><h2><%=@success%></h2></div>
    <% end %>

      <%= yield %>
  </div>
  <!-- content ends
================================================== --> 

<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix">
  <div class="container"> 
    
    <!--row starts-->
    <div class="row"> 
      
      <!--column one / social icon list starts-->
      <div class="span2">
      </div>
      <!--column one ends--> 
      
      <!--column two starts-->
      <div class="span2 text-center"> Follow on Twitter
        <h5><a href="#">@indoglow</a></h5>
      </div>
      <!--column two ends--> 
      
      <!--column three / twitter feed starts-->
      <div class="span8">
       
      </div>
      <!--column three / twitter feed ends--> 
      
    </div>
    <!--row ends--> 
    
    <!--spacer here-->
    <div class="spacer-30px"></div>
    
    <!--row starts-->
    <div class="row"> 
      
      <!--column one starts-->
      <div class="span4">
    
        <img src="images/logo2.png" width="148" height="41" alt="logo"> </div>
      <!--column one ends--> 
      
      <!--column two starts-->
      <div class="span4">
      
      </div>
      <!--column two ends--> 
      
      <!--column three starts-->
      <div class="span4">
     
      </div>
      <!--column three ends--> 
      
    </div>
    <!--row ends--> 
    
  </div>
</footer>
<!-- footer ends
================================================== --> 

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p> © Copyright 2013</p>
        
        <!--copyright menu starts-->
        <ul class="copyright-menu">
          <li><a href="/new_player">Start Over</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Company</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <!--copyright menu ends--> 
        
      </div>
    </div>
  </div>
</section>
<!-- copyright ends
================================================== --> 

  </body>
</html>
